[Desktop Entry]
Categories=GNOME;GTK;Utility;
Name=Telepipe (development version)
Name[en]=Telepipe (development version)
Name[pt_BR]=Telepipe (versão de desenvolvimento)
Keywords=console;command line;cli;terminal;pipe;
Keywords[en]=console;command line;cli;terminal;pipe;
Keywords[pt_BR]=console;linha de comando;cli;terminal;pipe;
Comment=Easily combine pipes with the clipboard
Comment[en]=Easily combine pipes with the clipboard
Comment[pt_BR]=Combine facilmente comandos com a área de transferência
Type=Application
Exec=telepipe
Actions=new-window;
Terminal=false
Icon=ca.vtrlx.Telepipe.Devel
StartupNotify=false

[Desktop Action new-window]
Name=New Window
Name[en]=New Window
Name[pt_BR]=Nova Janela
Exec=telepipe --new-window
