[Desktop Entry]
Categories=GNOME;GTK;Utility;
Name=Telepipe (development version)
Name[en]=Telepipe (development version)
Keywords=console;command line;cli;terminal;pipe;
Keywords[en]=console;command line;cli;terminal;pipe;
Comment=Easily combine pipes with the clipboard
Comment[en]=Easily combine pipes with the clipboard
Type=Application
Exec=telepipe
Actions=new-window;
Terminal=false
Icon=ca.vtrlx.Telepipe.Devel
StartupNotify=false

[Desktop Action new-window]
Name=New Window
Name[en]=New Window
Exec=telepipe --new-window
